@charset "utf-8";
/*CSS Document*/
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #5B6049;
}

/*header*/

.logo img {
  align-items: flex-start;
  height: 40px;
}

.botones {
  display: flex;
  flex-direction: row;
}
.botones ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  color:#E3E1A4;
  font-family: Fraunces;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.botones a {
  width: fit-content;
  padding: 10px 20px;
  text-decoration: none;
  color:#E3E1A4;
  background-color: #5B6049;
  border-radius: 5px;
}

.botonera {
  width: 1200px;
  height: 60px;
  margin: 15px auto;
  padding: 0px 15px;
  align-items: center;
  border-radius: 20px;
  border: 1px solid #E3E1A4;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  gap: 200px;
  z-index: 50;
}

.botones a {
  text-decoration: none;
  color: #E3E1A4; 
  font-weight: 500;
  border-radius: 20px;
}

.botones a:hover {
  background-color: #E3E1A4;
  color: #5B6049;
}

/*main*/
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.titulo-inicio h1 {
  color: #E3E1A4;
  text-align: center;
  font-family: Fraunces;
  font-size: 100px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 404px;
  padding-right: 404px;
}

.titulo-inicio h3 {
  color: #E3E1A4;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}

.titulo h2 {
  color: #E3E1A4;
  text-align: center;
  font-family: Fraunces;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 404px;
  padding-right: 404px;
}

.titulo h3 {
  color: #E3E1A4;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}

.lightbox h2 {
  color:#E3E1A4;
  text-align: center;
  font-family: Fraunces;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 50%;
}







/*footer*/
footer {
  display: flex;
  width: 1200px;
  height: 200px;
  margin: 20px;
  gap: 10px;
  border: 1px solid #E3E1A4;
  border-radius: 20px;
  height: 60px;
  margin: 15px auto;
  padding: 0px 15px;
  align-items: center;
  z-index: 10;
}

footer p {
  color:#E3E1A4;
  font-family: Poppins;
  font-size: 10px;
  font-style: italic;
  font-weight: 200;
  line-height: normal;
}
















/* portfolio */
.proyectos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
    padding: 32px;
}

.diseño {
  max-width: 40%;
  background-color:#E3E1A4;
  padding: 16px;
  text-align: center;
  border-radius: 15px;
  transition: transform 0.3s;
}

.diseño a {
  text-decoration: none;
  border-radius: 10px;
  color:#E3E1A4;
  background-color: #5B6049;
  text-align: center;
  font-family: Fraunces;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: fit-content;
  padding: 8px 15px;
}

.diseño:hover {
  transform: scale(1.05);
}

.diseño img {
  width: 422px;
  height: 247px;
}

.diseño h3 {
  color:#5B6049;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}















/*formulario*/

Form {
	width: 100%;
	Height: auto;
	Border: 1px solid #5B6049;
	Display: flex;
}

Form div { 
	Width: 50%;
	Height: auto;
	Padding: 20px;
}

Label {
	Display: block;
	Height: 20px; 
}

Input {
	Width: 100%;
	Height: 20px;
  border-radius: 10px;
  border: 1px solid #E3E1A4;
  Margin-bottom: 20px;
  Padding: 5px;
}

Input[type=checkbox] {
	Width: auto;
	Height: auto; 
}

Input[type=submit], input[type=reset] {
	Height: 30px;
	Width: 150px;
	Color: #5B6049; 
}

.borrar {
	Background-color: #5B6049; 
  border-radius: 10px;
}

.enviar {
	Background-color: #5B6049;
	Margin: 0px 20px 0px 10px;
  border-radius: 10px;
}

Textarea {
	Border: 1px solid #5B6049;
	Width: 100%; 
	Height: 200px;
}

.contacto-personal ul {
  color: #E3E1A4;
  text-align: center;
  font-family: Fraunces;
  font-size: 15px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  padding: 100px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 100px;
}

.texto-preformulario {
  text-align: center;
  padding: 100px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 100px;
}

p {
  color: #E3E1A4;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  max-width: 50%;
}











/* responsive */
@media (max-width: 768px) {
    
    .botones ul {
        flex-direction: column;
        align-items: center;
    }

    .proyectos {
        flex-direction: column;
        align-items: center;
    }

    .formulario form {
        flex-direction: column;
    }

    .diseño {
        max-width: 100%;
    }
}