@charset "utf-8";
/*CSS Document*/

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #5B6049;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  cursor: url(img/cursor.svg) 10 10, auto;
}



/* -------------------- header -------------------- */

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.logo img {
  align-items: flex-start;
  height: 40px;
}

.botones {
  display: flex;
  flex-direction: row;
}

.botones ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  color:#E3E1A4;
  font-family: Fraunces;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.botonera {
  width: 80%;
  min-height: 60px; 
  height: auto;
  margin: 15px auto;
  padding: 0px 15px;
  align-items: center;
  border: 1px solid #E3E1A4;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  gap: 5%;
  z-index: 50;
  border-radius: 13px;
  backdrop-filter: blur(5px);
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
}

.botones a {
  text-decoration: none;
  color: #E3E1A4; 
  font-weight: 500;
  width: fit-content;
  padding: 10px 20px;
  text-decoration: none;
  color:#E3E1A4;
  border-radius: 13px;
}

.botones a:hover {
  background-color: #E3E1A4;
  color: #5B6049;
}



/* -------------------- main -------------------- */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding-top: 110px;
  position: relative;
}



/* -------------------- imagenes decorativas de index -------------------- */

.titulo-inicio {
  position: relative;
  text-align: center;
  padding: 70px 0px;
  z-index: 1;
}

.titulo-inicio h1 {
  color: #E3E1A4;
  text-align: center;
  font-family: Fraunces;
  font-size: 100px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 404px;
  padding-right: 404px;
  position: relative;
  z-index: 2;
}

.titulo-inicio h3 {
  color: #E3E1A4;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  position: relative;
  z-index: 2;
}

.fondo-index {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  z-index: 0;
}

.fondo-index img {
  width: 100%;
  height: 100%;
  animation: mover-lateral 4s ease-in-out infinite;
}

.decoracion-index-izquierda {
  position: absolute;
  bottom:2%;
  left: 38.5%;
  overflow: hidden;
}

.decoracion-index-derecha {
  position: absolute;
  bottom: 2%;
  left: 57%;
  overflow: hidden;
}

.titulo h2 {
  color: #E3E1A4;
  text-align: center;
  font-family: Fraunces;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 404px;
  padding-right: 404px;
}

.titulo h3 {
  color: #E3E1A4;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}

.boton {
  height: 30%;
  margin: 5px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: sticky;
  z-index: 60;
}

.boton a {
  text-decoration: none;
  color: #E3E1A4; 
  border: 1px solid #E3E1A4;
  border-radius: 20px;
  font-weight: 500;
  padding: 10px 20px;
}

.boton a:hover {
  background-color: #E3E1A4;
  color: #5B6049;
}



/* -------------------- animación de fondo index -------------------- */

@keyframes mover-lateral {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20px);
  }
}



/* -------------------- sobre mi - main -------------------- */

.presentacion {
  display: flex;
  flex-direction: row;
  padding-top: 30px;
  justify-content: center;
}



/* -------------------- elementos decorativos -------------------- */ 

.decoracion-sobremi img {
  position: absolute;
  z-index: 2;
  pointer-events: none;
}

.decoracion-sobremi-izquierda img {
  position: absolute;
  top: 800px;       
  left: 0;
  width: 200px;
  z-index: 0; 
}

.decoracion-sobremi-derecha img {
  position: absolute;
  top: 80px;       
  right: 0;
  width: 120px;
  z-index: 0;
}

.decoracion-portfolio img {
  position: absolute;
  z-index: 2;
  pointer-events: none;
}

.decoracion-portfolio-izquierda img {
  position: absolute;
  top: 80px;       
  left: 0;
  width: 220px;
  z-index: 0;
}

.decoracion-portfolio-derecha img {
  position: absolute;
  top: 80px;       
  right: 0;
  width: 220px;
  z-index: 0;
}



/* -------------------- columna izquierda - sobre mi -------------------- */ 

.columna-izquierda {
  width: 30%;
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 20px;
  text-align:left;
  border-radius: 12px;
}

.columna-izquierda section {

  border-radius: 12px;
  padding: 20px;
  margin: 10px;
  border: 1px solid #E3E1A4;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.columna-izquierda p {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 200;
  font-style: normal;
  color: #E3E1A4;
  margin: 8px;
  text-align: left;
}

.columna-izquierda h2 {
  font-family: Fraunces;
  font-size: 25px;
  font-weight: 600;
  font-style: normal;
  border-bottom: 1px solid #E3E1A4;
  color: #E3E1A4;
  gap: 10px;
  display:flex;
  flex-direction:column;
  align-items: center;
}

.columna-izquierda h4 {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 600;
  font-style: normal;
  color: #E3E1A4; 
}

.columna-izquierda ul li {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  color: #E3E1A4;
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 10px;
}

.idiomas ul li {
  flex-direction: column;
  align-items: flex-start;
}



/* -------------------- columna derecha - sobre mi -------------------- */ 

.columna-derecha { 
  padding: 30px;
  width: 40%;
  margin: 30px;
  text-align:left;
  border:1px solid #E3E1A4;
  gap: 50px;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
}

.columna-derecha h2 {
  font-family: Fraunces;
  font-size: 25px;
  font-weight: 600;
  font-style: normal;
  color: #E3E1A4;
}

.columna-derecha p {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 200;
  font-style: normal;
  color: #E3E1A4;
  margin: 8px;
  text-align: left;
}

.experiencia-laboral ul {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  color: #E3E1A4;
  list-style: none;
  margin: 8px;
}



/* -------------------- portfolio - galeria visible -------------------- */

.galeria-proyectos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  justify-items: center;
  padding: 40px 0;
}

.tarjeta-proyecto {
  background-color: #E3E1A4;
  padding: 20px;
  border-radius: 15px;
  width: 280px;
  text-align: center;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.3);
}

.tarjeta-proyecto h3 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #5B6049;
  margin-bottom: 10px;
}

.tarjeta-proyecto img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 15px;
}

.boton-popup {
  font-family: Fraunces;
  font-size: 16px;
  background-color: #E3E1A4;
  color: #5B6049;
  border: 1px solid #5B6049;
  padding: 8px 16px;
  border-radius: 12px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.boton-popup:hover {
  background-color: #5B6049;
  color: #E3E1A4;
  transform: scale(1.05);
}



/* -------------------- portfolio - galeria oculta -------------------- */ 

.galeria-oculta {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 5000;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

.galeria-oculta ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup-contenido {
  display: none;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  text-align: center;
}

.popup-contenido img {
  max-width: 70%;
  max-height: 80vh;
  border-radius: 10px;
}

.popup-contenido p {
  margin-top: 5px;
  font-size: 14px;
  font-weight: 200;
  font-style: normal;
  max-width: 600px;
  font-family: 'Poppins', sans-serif;
}

.popup-contenido h2 {
  font-family: Fraunces;
  font-size: 30px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
  color: #E3E1A4;
  margin: 20px 0px 0px;
}

.popup-contenido button {
  margin: 10px 80px 10px;
  padding: 10px 20px;
  color: #5B6049;
  background-color: #E3E1A4;
  border:1px solid #E3E1A4;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
}

.popup-contenido button:hover {
  background-color: #5B6049;
  border: #5B6049;
  color: #E3E1A4;
  transform: scale(1.01);
} 



/* -------------------- formulario -------------------- */
form {
	width: 100%;
	display: flex; 
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

form div { 
  flex: 1;
	width: 50%;
	height: 500px;
	padding: 20px;
  border-radius: 10px;
  margin: 20px;
}

label {
	display: block;
  margin-bottom: 5px;
	height: 30px; 
  gap: 2px;
  color: #E3E1A4;
  text-align:left;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  max-width: 60%;
}

label[type=checkbox] {
  align-items:left;
}

input {
	width: 100%;
	height: 30px;
  border-radius: 10px;
  border: 1px solid #E3E1A4;
  background-color: #E3E1A4;
  margin-bottom: 20px;
  Padding: 5px;
}

input[type=checkbox] {
	width: auto;
	height: auto; 
  margin: 15px 10px;
  cursor: pointer;
}

input[type=submit], input[type=reset] {
	height: 30px;
	width: 150px;
  background-color: #E3E1A4;
	Color: #5B6049;
  border-radius: 10px;
  cursor: pointer;
  gap: 20px;
  margin: 20px 0;
}

input[type="submit"]:hover, input[type="reset"]:hover {
  background-color: #c8c68f;
}

textarea {
	Border: 1px solid #e3e1a4;
  background-color: #E3E1A4;
	Width: 100%; 
	Height: 200px;
  border-radius: 10px; 
  padding: 5px;
} 

::placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  color: #8f9675;
}

.contacto-personal ul {
  color: #E3E1A4;
  text-align: center;
  font-family: Fraunces;
  font-size: 15px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  padding: 100px 20px 30px 20px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 100px;
}

.texto-preformulario {
  text-align: center;
  padding: 40px 30px 20px;
  list-style: none;
  display: flex;
  justify-content: center;
  width: 85%;
  align-items: center;
}

.campos {
  color: #E3E1A4;
  text-align: right;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  max-width: 60%;
}

.formulario {
  Border: 1px solid #e3e1a4;
	Width: 60%; 
	Height: 500px;
  display: flex;
  border-radius: 20px;
  margin-bottom: 40px;
}

.columna-izquierda-formulario .columna-derecha-formulario {
  display: flex;
  flex-direction: column;
  max-width: 60%;
}

.ayuda p {
  Height: 30px; 
  padding: 30px;
  color: #E3E1A4;
  text-align:left;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  max-width: 60%;
  margin-top: 20px;
}



/* -------------------- etiqueta <p> general -------------------- */
p {
  color: #E3E1A4;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}



/* -------------------- footer -------------------- */

footer {
  display: flex;
  justify-content: center;
  width: 80%;
  height: 60px;
  gap: 10px;
  border: 1px solid #E3E1A4;
  border-radius: 15px;
  margin: 15px auto;
  padding: 0px 15px;
  align-items: center;
}

footer p {
  color:#e9e7b7;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: italic;
  font-weight: 200;
  line-height: normal;
} 


/* -------------------- menú hamburguesa y responsive -------------------- */
.menu-toggle {
  display: none;
  font-size: 28px;
  background: none;
  border: none;
  color: #E3E1A4;
  cursor: pointer;
}

@media screen and (max-width: 600px) {

  .menu-toggle {
    display: block;
    font-size: 28px;
    background: none;
    border: none;
    color: #E3E1A4;
    cursor: pointer;
    margin-left: auto;
  }

  .botonera {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin: 10px auto;
    height: auto;
    gap: 0;
    width: 100%;
    max-width: 100%;
    border: 1px solid #E3E1A4;
    border-radius: 13px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    box-sizing: border-box;
  }

  .logo img {
    height: 35px;
  }

  .botones {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%; 
    right: 0;
    background-color: #5B6049;
    width: 100%;
    border-top: 1px solid #E3E1A4;
    z-index: 100;
  }

  .botones ul {
    flex-direction: column;
    gap: 10px;
    padding: 10px 20px;
    list-style: none;
    align-items: center;
  }

  .botones.activo {
    display: flex;
  }

  .botones a {
    display: block;
    padding: 10px 0;
    width: 100%;
  }

  .titulo h2,
  .titulo h3,
  .titulo-inicio h1,
  .titulo-inicio h3 {
    padding: 20px;
    text-align: center;
  }

  .titulo-inicio h1 {
    font-size: 2.5rem;
  }
  .titulo-inicio h3 {
    font-size: 1.2rem;
  }

  .galeria-proyectos {
    grid-template-columns: 1fr;
    gap: 30px;
    padding: 30px 10px;
  }

  .tarjeta-proyecto {
    width: 90%;
  }

  .presentacion {
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
  }

  .columna-izquierda,
  .columna-derecha {
    width: 100%;
    margin: 10px 0;
  }

  .columna-izquierda section {
    padding: 15px;
  }

  .contacto-personal ul {
    padding: 30px 10px;
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }

  .formulario {
    flex-direction: column;
    width: 90%;
    height: auto;
  }

  form div {
    width: 100%;
    height: auto;
    margin: 10px 0;
  }

  .ayuda p,
  .campos {
    max-width: 100%;
    text-align: center;
  }

  footer {
    flex-direction: column;
    height: auto;
    gap: 10px;
    padding: 10px;
    text-align: center;
  }
}